@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: italic;
}

.container-fluid {
	max-width: 65%;
	padding-top: 25px;
}

#writingArea {
	height: 80%;
}

body, .container-fluid {
	height: 100vh;
}